{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="flex flex-row p-4 bg-gray-200 gap-4 w-full h-[calc(100vh-11vh)]">
    <div class="left flex flex-col gap-4 w-1/4 h-full bg-white rounded-xl border-[1px] border-gray-500 p-4">
        {% for user in all_users %}
        <div class="flex w-full bg-gray-200 rounded-2xl p-2 gap-4 items-center cursor-pointer custom-shadow-chat border-[1px] border-black hover:scale-[1.02]">
            <div class="min-w-[20%]">
                {% if user.pfp %}
                <img src="{{user.userprofile.pfp.url}}" alt="" class="h-16 w-16 rounded-full shadow-md shadow-gray-500 object-cover">
                {% else %}
                <img src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed={{user.username}}" alt="" class="h-16 w-16 rounded-full shadow-md shadow-gray-500 object-cover">
                {% endif %}
            </div>
            <div class="w-[73%] flex flex-col">
                {% if user.first_name %}
                <span class="text-lg font-bold text-gray-800">{{user.first_name}}
                    {{user.last_name}}</span>
                {% else %}
                <span class="text-lg font-bold text-gray-800">{{user.username}}</span>
                {% endif %}
                <span class="text-sm font-semibold text-gray-500 line-clamp-1">This is one of my last message you will
                    ever see in my profile it is very big</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="right w-3/4 h-full bg-white rounded-xl border-[1px] border-gray-500 relative p-4">
        {% include 'chatbox.html' %}
    </div>
</section>

{% endblock %}