{% load static %}
<nav class="sticky w-full z-20 top-0 start-0 bg-white border-2 border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <!-- Logo and Search Bar -->
        <a href="{% url 'home' %}" class="flex flex-row items-center justify-center gap-4">
            <img src="{% static 'images/logo.png' %}" alt="" class="h-10 w-10 scale-[1.5]" />
            <!-- Logo Text -->
            <span class="text-xl lg:text-2xl text-gray-800 font-extrabold tracking-wide hidden md:block">
                ChatClassRoom
            </span>
        </a>

        <div class="flex items-center md:order-2">

            <!-- Mobile Search Toggle -->
            <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search"
                aria-expanded="false"
                class="md:hidden text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
                <span class="sr-only">Search</span>
            </button>

            <!-- Search Bar (Desktop) -->
            <div class="relative hidden md:block">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <input type="text" id="search-navbar"
                    class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search..." oninput="search(this.value)">

                <table
                    class="navbar-table hidden absolute top-12 max-h-72 w-96 overflow-y-scroll right-0 z-40 p-4 rounded-lg bg-gray-100 table-auto custom-shadow">
                    <thead class="text-left">
                        <tr class="border-b-2 border-gray-500">
                            <th class="px-2">Title</th>
                            <th class="px-2">Link</th>
                        </tr>
                    </thead>
                    <tbody id="resultsBodyDesktop" class="">
                    </tbody>
                </table>

            </div>

            <!-- Mobile Menu Toggle -->
            <button data-collapse-toggle="navbar-search" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-search" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>

            <!-- User Icon -->
            {% if request.user.is_authenticated %}
            <button type="button" class="flex text-sm bg-gray-800 rounded-md ms-2" id="user-menu-button"
                aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                {% if request.user.userprofile.pfp %}
                <img class="w-10 h-10 rounded-md" src="{{ request.user.userprofile.pfp.url }}" alt="user photo">
                {% else %}
                <img class="w-10 h-10 rounded-md"
                    src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed={{ user.username }}" alt="user photo">
                {% endif %}
            </button>
            {% else %}
            <button type="button" class="flex text-sm bg-gray-800 rounded-md ms-2" id="user-menu-button"
                aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-10 h-10 rounded-md" src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed=Chatter"
                    alt="user photo">
            </button>
            {% endif %}
        </div>

        <!-- Navigation Links -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="search-navbar"
                    class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search..." oninput="search(this.value)">
                <table
                    class="navbar-table hidden absolute top-12 max-h-64 w-96 transform -translate-x-1/2 overflow-y-scroll left-1/2 z-40 p-4 rounded-lg bg-gray-100 table-auto custom-shadow">
                    <thead class="text-left">
                        <tr class="border-b-2 border-gray-500">
                            <th class="px-2">Title</th>
                            <th class="px-2">Link</th>
                        </tr>
                    </thead>
                    <tbody id="resultsBodyMobile" class="">
                    </tbody>
                </table>
            </div>


            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                <li>
                    <a href="{% url 'home' %}"
                        class="flex items-center gap-2 py-2 px-3 {% if request.resolver_match.url_name == 'home' %}text-blue-700{% else %}text-gray-900 hover:text-blue-700{% endif %} rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0">
                        <span><i class="fa-solid fa-house"></i></span><span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'subjects' %}"
                        class="flex items-center gap-2 py-2 px-3 {% if request.resolver_match.url_name == 'subjects' %}text-blue-700{% else %}text-gray-900 hover:text-blue-700{% endif %} rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0">
                        <span><i class="fa-solid fa-book"></i></span><span>Subjects</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'recent_notes' %}"
                        class="flex items-center gap-2 py-2 px-3 {% if request.resolver_match.url_name == 'recent' %}text-blue-700{% else %}text-gray-900 hover:text-blue-700{% endif %} rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0">
                        <span><i class="fa-solid fa-thumbtack"></i></span><span>Recent Notes</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'users' %}"
                        class="flex items-center gap-2 py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">
                        <span><i class="fa-solid fa-headset"></i></span><span>Chat</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}"
                        class="flex items-center gap-2 py-2 px-3 {% if request.resolver_match.url_name == 'account_login' %}text-blue-700{% else %}text-gray-900 hover:text-blue-700{% endif %} rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0">
                        <span><i class="fa-solid fa-user"></i></span><span>Sign In</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <!-- User Dropdown Menu -->
    <div class="z-50 hidden my-4 text-base list-none border-2 border-gray-300 bg-white divide-y divide-gray-100 rounded-lg shadow"
        id="user-dropdown">

        <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 font-bold">{{request.user.first_name}}
                {{request.user.last_name}}</span>
            <span class="block text-sm text-gray-500 font-semibold truncate ">{{request.user.email}}</span>
        </div>

        <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
                <a href="{% url 'dashboard' %}"
                    class="block px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}"
                    class="block px-4 py-2 text-sm font-semibold text-red-700 hover:bg-gray-100">Sign out</a>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>